<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="tiendavirtual">
    <head>
        <title>Tienda Virtual</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">        
    </head>
    <body class="bg-light">
        <div class="p-3 mb-2 bg-secondary text-white"></div>
        <header>
            <nav class="navbar" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <a class="navbar-brand"><p class="fw-bold">Tienda Virtual</p></a>
                    <!--
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                  
                    </form>
                    -->
                </div>
            </nav>
        </header>
        <main class="row m-3" ng-controller="filaUsuario">
            <article class="col-sm"> <!--Angularjs-->
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">ID Usuario</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1"  value="" ng-model="id"/>
                        <br/>
                        <button type="button" class="btn btn-danger" ng-click="consultar()">Consulta aquí</button>
                    </div>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre"  value="{{nombre}}" ng-model="nombre"/>
                        <label for="edad" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido"  value="{{apellido}}" ng-model="apellido"/>
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text"  class="form-control" id="correo"  value="{{correo}}" ng-model="correo"/>
                        <label for="correo" class="form-label">Contraseña</label>
                        <input type="password"  class="form-control" id="contraseña"  value="{{contrasena}}" ng-model="contrasena"/>
                        <div>
                        </div>
                        <br/> <!--salto de línea-->
                        <button type="button" class="btn btn-warning" ng-click="actualizar()">Actualizar</button>
                    </div>
                </section>
            </article>
            <article class="col-sm">
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Contraseña</th>
                                <th scope="col">Fecha de Creación</th>
                                <!--<th scope="col">Acciones</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fila in filas">
                                <td>{{fila.id}}</td>
                                <td>{{fila.nombre}}</td>
                                <td>{{fila.apellido}}</td>
                                <td>{{fila.correo}}</td>
                                <td>{{fila.contrasena}}</td>
                                <td>{{fila.fecha_creacion}}</td>
                                <!--<td>
                                    <button type="button" class="btn btn-success">Editar</button>
                                    <button type="button" class="btn btn-danger">Remover</button>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Eliminar Usuario</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1"  value="" ng-model="id"/>
                        <br/>
                        <button type="button" class="btn btn-warning" ng-click="borrar()">Eliminar</button>
                    </div>
                </section>
                <section class="m-2 p-3 mx-auto container-md border bg-white">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre"  value="{{nombre}}" ng-model="nombre"/>
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido"  value="{{apellido}}" ng-model="apellido"/>
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text"  class="form-control" id="correo"  value="{{correo}}" ng-model="correo"/>
                        <label for="contrasena" class="form-label">Contraseña</label>
                        <input type="password"  class="form-control" id="contrasena"  value="{{contrasena}}" ng-model="contrasena"/>
                        <label for="contrasena" class="form-label">Fecha de creacion</label>
                        <script>
                            var fecha = new Date();
                            document.getElementById("Fecha Actual").value = fecha.toJSON().slice(0, 10); = new Date().toLocaleDateString();
                            .write(date);
                        </script>
                        <input type="date" class="form-control form-control-sm" id="FechaActual">
                            <br/> <!--salto de línea-->
                            <button type="button" class="btn btn-warning" ng-click="guardarUsuario()">Guardar</button>
                    </div>
                </section>               
            </article>
        </main>
        <footer>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <!--<script src="js/angular-bootstrap.js" type="text/javascript"></script>-->
        <script src="js/id.js"></script>
    </body>
</html>

